body {
    /* background: linear-gradient(130deg, rgb(218, 173, 230), rgb(157, 109, 252));  */
    /* background: radial-gradient(circle, rgba(218,173,230,1) 50%, rgba(157,109,252,1) 100%); */
    /* background: linear-gradient(130deg, rgb(218, 173, 230), rgb(157, 109, 252));  */
    background: rgb(255, 182, 208);
    margin: 0; /* Removes default margin */
    height: 100vh; /* Ensure the body takes full viewport height */
}

.WelcomeTitle {
    font-family: "Hi Melody", sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: center; /* Centers the text inside the box */
}

.WelcomeBox {
    width: 80%;
    height: 50%;

    /* Center the box */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Rounded borders */
    border-radius: 15px;

    /* Box shadow */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    /* Flexbox for centering the title */
    display: flex;
    justify-content: center;
    align-items: center;

   
}
